
<h1>Update student</h1>
<% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> 
      prohibited  this Student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @student, url: {controller: "students",action: "update"} do |form| %>
<table border=1 class='table-success'>
<tr>
   <td>Rollno </td>
   <td><%= form.text_field :rno %></td>
<tr>
<tr>
   <td>Name </td>
   <td><%= form.text_field :studentname %></td>
<tr>
  <td>
    choose Student Image
  </td>
  <td>
  	<%= form.file_field :avatar %>
  </td>
<tr>
   <td>Gender </td>
   <td>
<%= form.radio_button(:gender, "Male") %>Male
<%= form.radio_button(:gender, "Female") %>Female
</td>
<tr>
<tr>
   <td>Select Year </td>
   <td><%= form.select :studentclass, options_for_select(
	["I - year",
	 "II - year",
	 "III - year"]),:prompt => "Select One" %>
</td>
<tr>
<tr>
   <td>Department </td>
   <td>
    <%= form.select :department, options_for_select(
	["Information Technology",
	 "Computer Science",
	 "Computer Applications",
	 "Microbiology",
	 "Chemistry",
	 "Physics",
	 "Maths",
	 "Zoology"]),:prompt => "Select One" %>
   </td>
<tr>

<tr>
   <td>Mobile number </td>
   <td><%= form.text_field :mobileno %></td>
<tr>
<tr>
   <td>Gmail </td>
   <td><%= form.email_field :gmail, :id=>"gmail",:onchange => "checkgmail(this.value);" %>
<div id="gmailexist">

</div>
</td>
<tr>
<tr>
   <td>DOB </td>
   <td><%= form.date_field :dob %></td>
</tr>
 <tr><th colspan=2 align=center>Address : </th></tr>
  <%= form.fields_for :address do |addr| %>
  <tr><td>Door No</td><td><%= addr.text_field :doorno %></td></tr>
  <tr><td>Street</td><td><%= addr.text_field :street %></td></tr>
  <tr><td>Area</td><td><%= addr.text_field :area %></td></tr>
  <tr><td>City</td><td><%= addr.text_field :district %></td></tr>
  <tr><td>District</td><td><%= addr.text_field :city %></td></tr>
  <tr><td>State</td><td><%= addr.text_field :state %></td></tr>
	<tr><td>Country</td><td><%= addr.text_field :country %></td></tr>
  <tr><td>Pincode</td><td><%= addr.text_field :pincode %></td></tr>
   <% end %>
<tr>
<th colspan=2><%= form.submit :register %></th>
<tr>
</table>
<% end %>
