<h1>Students Details</h1>
<script>
function submitfun()
{
  $("form123").submit();
}
</script>
<%= form_with scope: :filterstudents, url: {:controller => "students", :action => "filterstudents"}, local: true,:html=>{:id=>"form123",:multipart => true,:remote=>true} do |form| %>
class:
<%= form.select :studentclass , options_from_collection_for_select(@studentclass, "studentclass","studentclass"), :onchange => "submitfun()" %>
<%= form.submit :show %>
<% end %> 
<table border=1>
<tr>
	<th>Rollno</th>
	<th>Image</th>
	<th>Name</th>
	<th>Gender</th>
	<th>Mobileno</th>
	<th>Class</th>
	<th>Departmet</th>
	<th>Gmail</th>
	<th>DOB</th>
	<th>Operrations</th>
</tr>
<% @students.each do |i| %>
<tr>
  <td><%= i.rno %></td>
<td><%= image_tag i.avatar.url(:thumb) %></td>
  <td><%= i.studentname %></td>
  <td><%= i.gender %></td>
  <td><%= i.mobileno %></td>
  <td><%= i.studentclass %></td>
  <td><%= i.department %></td>
  <td><%= i.gmail %></td>
  <td><%= i.dob %></td>
  <td>
       <%= link_to 'Show', students_show_path(i) %> |
       <%= link_to 'Edit', {controller:'students',action:'edit',id:i.id} %> |
       <%= link_to 'Delete', {controller:'students',action:'destroy',id:i.id}, method: :delete, data: { confirm: 'Are you sure?' } %> 
 </td>
<tr>
<% end %>
</table>
<p>
  Download:
  <%= link_to "CSV", students_path(format: "csv") %> |
  <%= link_to "Excel", students_path(format: "xls") %>
</p>

